@using BusinessTemplateFullPage.Models
@model List<Product>

@{
    ViewBag.Title = "Products";
}

 <section id="meet-team">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Meet The Team</h2>
                <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>

            <div class="row">
                @foreach (Product item in Model) {
                  <div class="col-sm-6 col-md-3 center">
                        <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                            <div class="team-img">
                                <img class="img-responsive" src="@Url.Content("~/Content/images/team/01.jpg")" alt="">
                            </div>
                            <div class="team-info">
                                <h3>@item.Product_name</h3>
                                <span>100 vnd</span>
                            </div>
                            <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                            <a href="#">Xem chi tiết</a>
                             
                        </div>
                  </div>
                }
            </div>

            <div class="divider"></div>
            <div class="row center" >
                  @for (int i = 1; i <= ViewBag.Allpage; i++)
                  {
                      <a class="btn btn-default" href="~/Home/San_pham?Category=@ViewBag.categoryId&Search=@ViewBag.Search&page=@i" >@i</a>
                  }
                
            </div>
           
        </div>
    </section><!--/#meet-team-->